.m-dp-container {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    display: inline-block;
    background-color: #fff;
    padding: 5px;
}

.m-dp-container .pull-l {
    float: left;
}

.m-dp-container .pull-r {
    float: right;
}

.m-dp-container .m-dp-hidden {
    display: none;
}

.m-dp-container .m-db-clearfix:after, .m-db-clearfix:before {
    content: " ";
    display: table;
}

.m-dp-container .m-db-clearfix:after {
    clear: both;
}

.m-dp-container .date-box td {
    text-align: center;
    padding: 2px;
}

.m-dp-container .navigation {
    padding: 4px;
    background-color: #eee;
}

.m-dp-container .week-tips td {
    font-size: 0.7em;
}

.m-dp-container .days td div {
    font-size: 0.8em;
}

.m-dp-container .global-nav {
    margin-bottom: 5px;
}

.m-dp-container .global-nav span {
    display: inline-block;
}

.m-dp-container .pre, .m-dp-container .next {
    background-color: #f3f3f3;
    background-image: linear-gradient(#f8f8f8, #efefef);
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 3px 9px;
    color: #898989 !important;
    font-size: 12px !important;
    font-weight: bold;
    height: 21px;
    line-height: 21px;
}

.m-dp-container .next {
    margin-left: 5px;
}

.m-dp-container .m-db-boxes .m-db-col {
    float: left;
}

.m-dp-container .m-db-boxes .m-db-row:first-child .m-db-col {
    border-top: 1px solid #aaa;
}

.m-dp-container table {
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.m-dp-container table caption {
    border-bottom: 1px solid #aaa;
}

.m-dp-container .m-db-col.last-db-col table, .m-dp-container .m-db-col.last-db-col table caption {
    border-right: 1px solid #aaa;
}

.m-dp-container .m-db-row .m-db-col:first-child table caption {
    border-left: 1px solid #aaa;
}

.m-dp-container table td div {
    padding: 4px;
    cursor: default;
}

.m-dp-container .avail {
    cursor: pointer;
}

.m-dp-container .days span {
    text-align: center;
}

.m-dp-container .days .not-avail {
    color: #bbb;
}

.m-dp-container .days .not-current {
    padding: 4px;
}

.m-dp-container .selected, .m-dp-container .avail, .m-dp-container .booked {
    color: #fff;
}

.m-dp-container .days .avail {
    background-color: #0C7B44;
}

.m-dp-container .days .not-avail {
    background-color: #efefef;
}

.m-dp-container .days .booked {
    background-color: #b50000;
}

.m-dp-container .days .selected {
    background-color: #0079ff;
}